.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color: #0d568a;
}

.input{
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color:#0d568a;
  background-color: aliceblue;
  text-align: center;
}

.taskdone {
  background-color: #00000027;
}
.taskdone p {
  color: #00000050;
}

.taskdone p {
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color: #0d568a;
}

.taskdone {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}
.actionbtn {
  cursor: pointer;
  margin-left: 10px;
}
.actionbtn:hover {
  background-color: #1d88d43d;
  border-radius: 5px;
}
