.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color: #0d568a;
}

.input {
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color:#0d568a;
  background-color: aliceblue;
  text-align: center;
  border-radius: 15px;
}

.taskdone {
  background-color: #00000027;
}

.taskdone p {
  color: #00000050;
}

.taskdone p {
  font-size: 20px;
  font-weight: 750;
  margin: 0;
  color: #0d568a;
}

.taskdone {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.hidden {
  display: none;
}
